@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
  text-align: center;
}
* {
  font-family: "Abel", sans-serif;
}

img {
  height: 100px;
  width: 100px;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

input {
  color: black;
  outline: none;
}

form {
  padding-top: 10px;
  padding-bottom: 20px;
}
.container div img:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}
.container div {
  margin-left: 1%;
  margin-right: 1%;
}

.close-button, .theme-toggle {
  position: absolute;
  top: 4rem;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: none;
  z-index: 1;
}

.theme-toggle {
  left: 1rem;
}

.close-button{
  right: 1rem;
}

.style-root {
  display: grid;
  justify-items: center;
  align-items: flex-start;
}

.clicked-image{
  position: relative;
  top:10vh;
  width: 80%;
}

div.clicked-image > div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

.selected-image {
  border-radius: 30%;
  border: 2px solid white;
  height: 10em;
  width: 10em;
} 

.style-p {
  font-size: x-large;
}

.material-icons {
  font-size: 30px;
}

div.slider{
  border: 2px solid orange;
  width: 80vw;
  overflow-x: auto;
  position: relative;
  top: 12vh;
}

ul.slider_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none; 
  width: fit-content;
  
}
li div.slider_list_element{
  /* top right bottom left */
  padding: 20px 10px 0 10px;
  cursor: pointer;
}
li div.slider_list_element:hover{
  transform: scale(1.2);
  transition-duration: 0.3s;
}

div.information{
  position: relative;
  top: 14vh;
  font-size: 1.1rem;
}
